html {
  scroll-behavior: smooth;
  margin: 0 auto;
  overflow-x: hidden;
}
.name {
  color: #ff1a00;
  font-size: 100px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.homesection {
  color: #000000;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.picture {
  height: 200px;
}
.card {
  margin-left: 40px;
  background-color: #41464e;
}
.socialmedia {
  height: 30px;
}
.jumbocolor {
  background-color: #3634a7;
}
.color {
  background-color: #3634a7;
  padding-bottom: 5%;
}
.jumbotron {
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
}
.card-text {
  color: #cccccc;
}
.card-title {
  color: #000000;
}
.one {
  padding-left: 10px;
  padding-right: 10px;
}
.card-img-1 {
  height: 200px;
  width: 320px;
}
.card-img {
  height: 200px;
  width: 200px;
}
